<a href="https://colab.research.google.com/github/differntiation/Story/blob/master/pythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Programming language used in ML:


1.   python
2.   R

#Print function

In [1]:
print("sumit")

sumit

#Basic DataType

1.   Integer
2.   float
3.   string
4.   Boolean
5.   complex

In [5]:
type(8)

int

In [6]:
type(5.3)

float

In [7]:
type('sumit')

str

In [18]:
type(5+3j)

complex

In [19]:
type(True)

bool

In [ ]:
#changing the data type in python
#int to float
num=5
print(float(num))

5.0

In [ ]:
#float to num
num=5.4
print(int(num))

5

In [20]:
a=7<3
print(a)
type(a)

False

bool

In [21]:
print("Hello"*5)

HelloHelloHelloHelloHello

Slicing

In [22]:
my_string="Sumit"
print(my_string[1:3]) #it print from index 1 to 3

um

In [23]:
#step
print(my_string[0:4:2]) # it print by taking 2 step from index 0 to 4

Sm

In [ ]:
#Concatenation of string
print("Machine Learning " +"Project")

Machine Learning Project

#Constants and Variables

Variable should be single name attach bu underscore

In [8]:
marvel_super_hero="Sumit"
print(marvel_super_hero)

Sumit

In [9]:
marvel_super_hero="kuttaa"
print(marvel_super_hero)

kuttaa

In [10]:
hero1,hero2,hero3="su","pu","do"
print(hero1)
print(hero2)
print(hero3)

su
pu
do

In [11]:
x=y=z=23
print(x)
print(y)
print(z)

23
23
23

#input Function

In [15]:
# Here input number are  treated as string so we apply int to treat as integer
number_1=int(input("enter first number: "))
number_2=int(input("enter second number: "))
sum=number_1+number_2
print(sum)

enter first number: 1
enter second number: 2
3

#Types of Objects

1.   Immutable objects:whose value cannot  be changed once it created
2.   Mutable objects:whose value can be changed once it created

IMMUTABLE OBJECTS


1.   int 2.bool 3.float 4.string 5.tuple


MUTABLE OBJECTS


1.   List 2. Set 3. Dictionary

List

In [24]:
#List should be included in square brackets and it can store multiple values
my_list=[1,2,3,4]
print(my_list)
type(my_list)

[1, 2, 3, 4]

list

In [25]:
#List can have multiple datatype and mutable
my_list=[1,2,"su",True]
print(my_list)
type(my_list)

[1, 2, 'su', True]

list

Lists are Mutable

In [27]:
#Add elements
my_list=[1,2,"su",True]
my_list.append(3)
print(my_list)
print(my_list[0])

[1, 2, 'su', True, 3]
1

In [29]:
#list allow duplicate values
list_1=[1,1,1,1,1]
print(list_1)
#Check the size of list
print(len(list_1))

[1, 1, 1, 1, 1]
5

In [30]:
#delete item in list
list_2=[1,2,3,4]
del list_2[2]
print(list_2)

[1, 2, 4]

In [31]:
#Join  two list
list_1=[1,2]
list_2=[3,4]
print(list_1+list_2)

[1, 2, 3, 4]

Tuple :- Immutable datatype

In [33]:
#It allow multiple datatype in single tuple
tuple_1=(1,2,3,"st",True)
print(tuple_1)
type(tuple_1)

(1, 2, 3, 'st', True)

tuple

In [34]:
#Converting List to tuple
list_1=[1,2,3]
my_tuple=tuple(list_1)
print(my_tuple)

(1, 2, 3)

In [35]:
print(my_tuple[0])

1

Tuples are immutable means unchangeable

In [36]:
my_tuple.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [37]:
print(len(my_tuple))

3

Set

In [41]:
#set->Curly bracket and it allow multiple datatype
my_set={1,2,3,4.5,5,"su",True}
print(my_set)
type(my_set)

{1, 2, 3, 4.5, 5, 'su'}

set

In [39]:
#Set not suport indexing
print(my_set[0])

TypeError: 'set' object is not subscriptable

In [40]:
#convert list to set
list_5=[1,2,3,4.5,5]
print(set(list_5))

{1, 2, 3, 4.5, 5}

In [42]:
#set does not allow duplicate value
set_1={1,1,2,3,4}
print(set_1)

{1, 2, 3, 4}

Dictionary -> key : value pair

In [44]:
my_dict={"name":'sumit',"age":90}
print(my_dict)
print(my_dict["name"])
print(my_dict["age"])
type(my_dict)

{'name': 'sumit', 'age': 90}
sumit
90

dict

In [45]:
#Dictionary does not allow duplicate
my_dict={"name":'sumit',"age":90,"name":'sumit',"age":90}
print(my_dict)

{'name': 'sumit', 'age': 90}